@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* ----------Variables----------- */
:root{

/* ------text colors------- */
    --text-grey: #808291;
    --text-white: #f8f9fa;
    --text-light: #f6f6f6;
    --text-dark: #1A3260;
    --text-dark2: #1A3760D4;
    --text-red: hsla(349, 83%, 44%, 0.897);
    --box-shadow: 0px 60px 50px 0px rgb(0 0 0/10%);

/* ------font family------- */
--font-poppins: "Poppins", 'sans-serif';

/* -----gradient colours ------- */
--bg-black: #000;
--bg-gradient:linear-gradient(to right, #ff512f, #dd2476);
--bg-gradient-indigo:linear-gradient(to right, #2d0550, #9a8bb9);
--bg-gradient-peach:linear-gradient(to right, #d6cece, #a17171);
--bg-gradient-blue:linear-gradient(to right, #eaeaf5, #3d2cda);
--bg-gradient-yellow:linear-gradient(to right, #eaeaf5, #e2b215);

/* ------Images ------ */
--bg-cover: url(./responsive-assets/assets/bgimg1.png);
--bg-img1: url(./responsive-assets/assets/img1.png);
--bg-img2: url(./responsive-assets/assets/img2.png);
--bg-img3: url(./responsive-assets/assets/img3.png);

}
/* ----------/Variables----------- */

*>*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}


/*  ------------Global classes ------------- */

.text-dark{
    color: var(--text-dark);
}

.text-grey{
    color: var(--text-grey);
}

.text-white{
    color: var(--text-white);
}
.text-light{
    color: var(--text-light);
}

.text-red{
    color: var(--text-red);
}

.bg-gradient{
    background: var(--bg-gradient);
}

.bg-gradient-indigo{
    background: var(--bg-gradient-indigo);
}

.bg-gradient-peach{
    background: var(--bg-gradient-peach);
}

.bg-gradient-blue{
    background: var(--bg-gradient-blue);
}

.bg-gradient-yellow{
    background: var(--bg-gradient-yellow);
}

.font-poppins{
    font-family: var(--font-poppins);
}

.text-center{
    text-align: center;
}

.text-sm{
    font-size: 1em;
    line-height: 1.5em;
}

.text-md{
    font-size: 1.5em;
}

.text-lg{
    font-size: 2.2em;
    line-height: 3rem;
}

.text-xl{
    font-size: 3em;
}

.text-2xl{
    font-size: 5em;
}

.font-bold{
    font-weight: bold;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}
.flex-initial{
    flex: 0 1 auto;
}

.flex-grow{
    flex-grow: 1;
}

.justify-center{
    justify-content: center;
}

.text-uppercase{
    text-transform: uppercase;
}
.container{
    width: 100%;
}

.wrapper{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 25px;

}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    background: var(--text-light);
}

.container-fluid{
    width: 98%;
}
/* .mx-auto allows to center the container class */
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.py-2{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-5{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem ;
}

.py-10{
    padding-top:4.5rem;
    padding-bottom:4.5rem;
}

.px-5{
    padding-left:1.5rem;
    padding-right:1.5rem;
}

.px-10{
    padding-left:3.5rem;
    padding-right:3.5rem;
}

.link{
color: var(--text-dark);
font-weight: bold;
}

.link:hover{
    color:var(--text-red);
}
.btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn-primary{
    padding: .8rem 2rem;
    border-radius:50px;
    font-family:var(--font-poppins);
    font-weight:bold;
    background-color: #4a00e0;
}

.btn-shadow{
    box-shadow:var(--box-shadow);
}

.btn-primary:hover{
    background-color:var(--bg-gradient-indigo);
}

.bg-cover{
    background: var(--bg-cover);
    object-fit: fill;
}

.d-inline{
    display:inline-block;
}

.d-block{
    display: block;
}

.grid{
    display: grid;
}

.cols-1{
    grid-template-columns:repeat(1, minmax(0, 1fr));
}
.w-100{
    width: 100%;
}

.w-50{
    width: 50%;
}


/*  ------------/Global classes ------------- */


.layout-container{
    background-color:var(--text-white);
    min-width: 100vw;
    width: 100%;
}

.container{
    background-color: rgb(249, 251, 248);
   
}

/*  ------------Site branding style ------------- */

.site-branding{
    color:red;
}

/*  ------------Header style ------------- */


/*  ------------Header style ------------- */

/*  ------------Nav style ------------- */

nav{
    display: flex;
    margin: auto;
    // padding: 2% 6%;
    justify-content: space-around;
    align-items: center;
}

nav img{
    width: 150px;
}

nav .nav-menu{
    flex: 1;
    text-align: right;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
}

nav .nav-menu a, .link{
    color: #e1e5e8;
    border: none;
    
}

nav .nav-menu li{
   list-style: none;
   display: inline-block;
   padding: 8px 12px;
   position: relative;
}



nav .nav-menu li::after{
   content: '';
   width: 0%;
   height: 2px;
   background: #f44336;
   display: block;
   margin: auto;
   transition: 0.5s all;
}

nav .nav-menu li:hover::after{
    width: 100%;
}

/*  ------------/Nav style ------------- */
/*  ------------nav close icons style ------------- */
nav .fa{
    display: none;
  
}

/*  ------------nav close icons style ------------- */

/*  ------------Feature image style ------------- */

.hero-image{
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text{
    width: 50%;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: var(--bg-black);
    opacity: .5;
    // font-size: 1.5rem;
}

.hero-text h1{
    font-size: 2rem;
    color: #ffffff;
}

.hero-text p{
    margin: 0 40px;
    font-size: 1rem;
    padding: 0 2%;
}


 .feature-btn{
    display: inline-block;
    text-decoration: none;
    color: var(--text-dark2);
    border: 1px solid var(--text-dark2);
    margin-bottom: 1em;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.feature-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

@media (max-width: 700px){
    .hero-text{
        width: 90%;
    }
    .hero-text h1{
        font-size: 12px;
        color: #ffffff;
    }

    .hero-text p{
        font-size: 10px;
      
    }
}

/*  ------------/Feature image style ------------- */

/*  ------------Float four columns side by side------ */

.action_wrapper{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background-color: #3d2cda;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    
}

.action-col{
flex-basis: 31%;
background: #fff3f3;
border-radius: 10px;
margin-bottom: 5%;
}

/* Style the counter cards */
// .card {
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
//   padding: 16px;
//   text-align: center;
//   background-color: #f1f1f1;
// }

/*  ---------/Float four columns side by side------ */

/*  ---------Cards------ */
.card-container{
    box-sizing: border-box;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.card{
    width: 300px;
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 3px 2px 5px rgb(75, 74, 74);

}

.card .card-body{
    margin-top: -5px;
    padding: 10px;
    background-color: rgb(206, 206, 206);

}

.card .card-body .card-title{

    font-size: 2rem;
}

.card .card-body .card-description{
    font-size: 1rem;
    line-height: 1.5;
}

.card:hover{
    box-shadow: 5px 5px 12px rgb(161, 160, 160);
}



/*  ---------/Cards------ */

/*  ---------Article area----- */


    #site-main .articles-area .grid{
    column-gap: 4em;
    }

    /*  ---------/Article area----- */

    /*--------Campus style------*/


    #site-main .campus .grid{
    column-gap: 4em;
    text-align: center;
    }

    .field .field--name-field-heading{
    font-size: 36px;
    font-weight: 600;
    text-align: center;

    }


    .campus-col{

    border-radius: 10px;
    margin-bottom: 5%;
    position: relative;
    overflow: hidden;
    }

    .campus-col>img{
    width: 100%;
    display: block;
    }
    .layer{
    background: transparent;
    opacity: 1.5;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    transition: 0.5s;
    }

    .layer:hover{
    background: #cd6666;
    opacity: .5;
    }

    .field--name-field-heading-three{ /*  ---------campus h3------ */
    width: 100%;
    font-size: 26px;
    font-weight: 600;
    color: #000;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    }

    .layer:hover .field--name-field-heading-three{
    bottom: 49%;
    // opacity: .5;
    opacity: 1;
    }

    .field .field--name-field-body{
    color: #000;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    }

    @media (max-width: 700){
    .cols-1{
    grid-template-columns: repeat(1 ,minmax(0,1fr));
    }


    }

    /*--------Campus style------*/

    /*--------Course style------*/

    .course-col{
    flex-basis: 31%;
    justify-content: space-between;
    background: #e6e6e6;
    border-radius: 10px;
    margin: 5%;
    // margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    }

    .couse-col:hover{
    box-shadow:0 0 50px rgba(0, 0, 0, 0.2);
    }

    @media (max-width: 700px){
    .course-col{
    flex-direction: column;
    }
    }

    /*--------/Course style------*/

    /*  ------------Footer classes ------------- */
    #footer{
    background-color: black;
    max-width: auto;
    height: 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

    /*  ------------/Footer classes ------------- */

    /*  ------------ @media query ------------- */

    /*  for large screen sm(640px) greater than or equal 640px---*/
    @media (max-width:640px) {
    .container{
    max-width: 640px;
    /* background-color: #3eb7c7; */
    }

    .search-form .form-search {
        display: none;
    }

    .sm-text-xl{
    font-size: 3em;
    }

    .sm-px-10{
    padding-left:3.5rem;
    padding-right:3.5rem;
    }

    .cols-1{
    grid-template-columns: repeat(1,minmax(0,1fr));
    }

    .text-box h1{
    font-size: 1rem;

    }

    // nav .nav-menu ul li{
    // display: inline-block;
    // color: black;
    // }
    // .nav-menu{
    // position: absolute;
    // background: #f44336;
    // height: 100vh;
    // width: 200px;
    // top: 0;
    // right: 0;
    // text-align: left;
    // z-index: 2;
    // }

    .flex{
    flex-direction: column;
    }
    .responsive-menus.responsified span.toggler{
        width: 639px;
    }

    // nav .fa {
    // display: block;
    // color: rgb(177, 31, 31);
    // font-size: 3rem;
    // margin: 10px;
    // cursor: pointer;
    // }

    // .nav-menu ul{
    //     padding: 30px;
    // }

}


/*  for large screen md(768px) */
@media (min-width:700px) {
    
    .container{
        min-width: 786px;
        
    }

    .md-text-left{
        text-align: left;
    }

    .md-mx-initial{
        margin: initial;

    }

    .md-cols-2{
        grid-template-columns: repeat(2,minmax(0,1fr));
    }

    .text-box h1{
        font-size: 2rem;
       
    }
}

/*  for large screen lg(1024px) */
@media (min-width:1024px) {
    .container{
        min-width: 1024px;
        
    }

#nav .toggle-btn >button{
    display: none;
}

#nav{
    flex-direction: row!important;
}

.collapse{
    max-height:initial!important;
}

.collapse>ul{
    flex-direction: row!important;

}

.active{
    max-height: 100%!important;
}


.lg-cols-3{
    grid-template-columns: repeat(3,minmax(0,1fr));
}


    
}


/*  for large screen xl(1280px) */
@media (min-width:1280px) {
    .container{
        min-width: 1280px;
        
    }

    #nav{
        background: transparent!important;
    }

    #nav .flex-initial ul  button{
        display: inline-block!important;
    }

    .lg-cols-3{
        grid-template-columns: repeat(3,minmax(0,1fr));
    }
   
    
}

/*  ------------ /@media query ------------- */