   /*  ------------Footer classes ------------- */
   #footer{
    background-color: black;
    max-width: auto;
    height: 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

    /*  ------------/Footer classes ------------- */