

    /*  ------------ @media query ------------- */

    /*  for large screen sm(640px) greater than or equal 640px---*/
    @media (max-width:640px) {
        .container{
        max-width: 640px;
        /* background-color: #3eb7c7; */
        }
    
        .search-form .form-search {
            display: none;
        }
    
        .sm-text-xl{
        font-size: 3em;
        }
    
        .sm-px-10{
        padding-left:3.5rem;
        padding-right:3.5rem;
        }
    
        .cols-1{
        grid-template-columns: repeat(1,minmax(0,1fr));
        }
    
        .text-box h1{
        font-size: 1rem;
    
        }
    
       
    }
    
/*  for large screen md(768px) */
@media (min-width:700px) {
    
    .container{
        min-width: 786px;
        
    }

    .md-text-left{
        text-align: left;
    }

    .md-mx-initial{
        margin: initial;

    }

    .md-cols-2{
        grid-template-columns: repeat(2,minmax(0,1fr));
    }

    .text-box h1{
        font-size: 2rem;
       
    }
}

/*  for large screen lg(1024px) */
@media (min-width:1024px) {
    .container{
        min-width: 1024px;
        
    }

#nav .toggle-btn >button{
    display: none;
}

#nav{
    flex-direction: row!important;
}

.collapse{
    max-height:initial!important;
}

.collapse>ul{
    flex-direction: row!important;

}

.active{
    max-height: 100%!important;
}


.lg-cols-3{
    grid-template-columns: repeat(3,minmax(0,1fr));
}


    
}


/*  for large screen xl(1280px) */
@media (min-width:1280px) {
    .container{
        min-width: 1280px;
        
    }

    #nav{
        background: transparent!important;
    }

    #nav .flex-initial ul  button{
        display: inline-block!important;
    }

    .lg-cols-3{
        grid-template-columns: repeat(3,minmax(0,1fr));
    }
   
    
}

/*  ------------ /@media query ------------- */